.gradle/
build/
local.properties
.idea/
*.iml
captures/
.cxx/

# Third-party deps cloned by setup-deps.sh
third_party/RPiPlay/
third_party/libplist/
third_party/openssl-1.1.1w/
third_party/openssl-1.1.1w.tar.gz
.release/

# OS / editor
.DS_Store
*.swp
